<html>
  <% include partials/head %>
 <body>



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Caregiver <%= caregiver.name %></h1>

          <select data-bind="options: patients,
                 optionsText: 'name',
                 value: _id,
                 optionsCaption: ' 👤Select Patient'"></select>
        <br />

        <p><a class="btn btn-primary btn-lg" href="/patient?" role="button">Add Patient</a></p>
      </div>
    </div>

<!--    <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Your patients
      <span class="caret"></span>
    </button>
    <ul class="patients" aria-labelledby="dropdownMenu1">
      <% for (var pid in caregiver.patients) { 
          Patient.model.findOne({'_id': pid}, {}, function(err, pat){
            if ((! err) && pat !== "null"){%>
              <li><a href="#"><%= pat.name%></a></li>
            <%}
            else {
              console.log(err);
            }
          });
        %>

      <%}%>
    </ul>
  </div> -->
     
    </div> 
<% include partials/footer %>
<script src="../js/view-models/index-view-model.js" type="application/javascript"></script>
<script type="application/javascript">
  var viewModel = new IndexViewModel('55b3f3e4ad7306c81efe729a');
</script>

</body>
</html>
