<html>
  <% include partials/head %>
  <body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Demo</h1>
        <p><a class="btn btn-primary btn-lg" href="/caregiver" role="button">"Log In" (Default Caregiver)</a></p>

      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>About</h2>
          <p>Caregiver delegation of ADLs (activities of daily living) </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
      </div>

    </div> <!-- /container -->
<% include partials/footer %>
<!-- page specific -->
</body>
</html>
