<html>
  <% include partials/head %>
  <body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Demo</h1>

        <p>
          <select data-bind="options: patients,
                       optionsText: function (e) {
                         return ' 👤' + e.name
                       },
                       value: selectedPatient,
                       optionsCaption: '👥 Select Patient'"></select>
        </p>

        <p><a class="btn btn-primary btn-lg" href="/task" role="button">Create Task</a></p>


        <p><a class="btn btn-primary btn-lg" href="/caregiver" role="button">"Log In" (Default Caregiver)</a></p>

      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>About</h2>
          <p>Caregiver delegation of ADLs (activities of daily living) </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
      </div>

    </div> <!-- /container -->
<% include partials/footer %>
<!-- page specific -->
<<<<<<< HEAD
<script src="../js/view-models/caregiver-view-model.js" type="application/javascript"></script>
<script type="application/javascript">
  var viewModel = new CaregiverModelView('55b3f3e4ad7306c81efe729a');
</script>
=======
>>>>>>> de97d57498a14e36aadf7060c102a315b4ce625c
</body>
</html>
