<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="../css/style.css">

	<script>
	function myFunction(x) {
		// Choose the correct action
		var msg = "";
		var lclass = "list-group-item list-group-item-";
		var bg = "";
		
		switch(x){
			case 0:
				msg = "Eating";
				bg = "warning";
				break;
			case 1:
				msg = "Dressing";
				bg = "danger";
				break;
			case 2:
				msg = "Bathing";
				bg = "info";
				break;
			case 3:
				msg = "Transporting";
				bg = "success";
				break;						
		}
		
		var ul = document.getElementById("list");
		var li = document.createElement("li");
		var xout = document.createElement("span");		
		// Create the close button
		xout.setAttribute("class","badge");
		xout.appendChild(document.createTextNode("x"));
		// Pass the parent instead since it's relative to the badge element
		xout.onclick = function() { deleteThis(xout.parentNode); };
		// Add new list item
		li.appendChild(xout);
		li.setAttribute("class", lclass.concat(bg));
		li.appendChild(document.createTextNode(msg));
		ul.appendChild(li);
	}
	
	// Remove tasks
	function deleteThis(x) {
		var ul = document.getElementById("list");
		ul.removeChild(x);
	}
	</script>
	
  </head>
  <body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
	  
	  <ul class="list-group" id="list">
	  </ul>
	  
	  <button onclick="myFunction(0)" class="btn btn-warning">Eating</button>
	  <button onclick="myFunction(1)" class="btn btn-danger">Dressing</button>
	  <button onclick="myFunction(2)" class="btn btn-info">Bathing</button>
	  <button onclick="myFunction(3)" class="btn btn-success">Transporting</button>
	  	  
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>

</body>
  </body>
</html>
