<html>

<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="../css/style.css">

</head>

<body>

		<div class="container">

				<ul class="list-group" id="list">
				</ul>

			<div class="btn-group">
				<button data-toggle="modal" id="0" data-target="#edit-modal" class="btn btn-lg btn-warning"><i class="glyphicon glyphicon-cutlery"></i> Eating</button>
				<button data-toggle="modal" id="1" data-target="#edit-modal" class="btn btn-lg btn-danger"><i class="glyphicon glyphicon-sunglasses"></i> Dressing</button>
				<button data-toggle="modal" id="2" data-target="#edit-modal" class="btn btn-lg btn-info"><i class="glyphicon glyphicon-tint"></i> Bathing</button>
				<button data-toggle="modal" id="3" data-target="#edit-modal" class="btn btn-lg btn-success"><i class="glyphicon glyphicon-road"></i> Transporting</button>
			</div>

				<div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
								<div class="modal-content">
										<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												<h4 class="modal-title" id="myModalLabel"></h4>
										</div>
										<form id="myForm" method="post">
												<div class="form-group">
														<div id="tasktype" class="modal-body edit-content">
																...
														</div>
														<label for="title">Title</label>
														<input type="text" class="form-control" id="title" name="title" placeholder="Title">
														<label for="category">Category</label>
														<input type="text" class="form-control" id="category" name="category" placeholder="Category">
														<label for="description">Description</label>
														<input type="text" class="form-control" id="description" name="description" placeholder="Description">
														<label for="dateadd">Date Added</label>
														<input type="date" class="form-control" id="dateadd" name="dateadd" placeholder="Date Added">
														<label for="datestart">Date Start</label>
														<input type="date" class="form-control" id="datestart" name="datestart" placeholder="Date Start">
														<label for="dateend">Date Ended</label>
														<input type="date" class="form-control" id="dateend" name="dateend" placeholder="Date Ended">
														<label for="notes">Notes</label>
														<input type="text" class="form-control" id="notes" name="notes" placeholder="Notes">
												</div>
										</form>
										<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												<button id="tasksubmit" type="submit" class="btn btn-primary" data-dismiss="modal">Submit</button>
										</div>
								</div>
						</div>
				</div>
		</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    <script>
        function addTask(x, m, t) {
            console.log(x);
            // Choose the correct action
            var msg = "";
            var lclass = "list-group-item list-group-item-";
            var bg = "";

            // Convert the number into a integer format from a string format
            switch (parseInt(x)) {
                case 0:
                    msg = "Eating: " + m;
                    bg = "warning";
                    break;
                case 1:
                    msg = "Dressing: " + m ;
                    bg = "danger";
                    break;
                case 2:
                    msg = "Bathing: " + m ;
                    bg = "info";
                    break;
                case 3:
                    msg = "Transporting: " + m ;
                    bg = "success";
                    break;
            }

            var ul = document.getElementById("list");
            var li = document.createElement("li");
            var xout = document.createElement("span");
            // Create the close button
            xout.setAttribute("class", "badge");
            xout.appendChild(document.createTextNode("x"));
            // Pass the parent instead since it's relative to the badge element
            xout.onclick = function() {
                deleteTask(xout.parentNode);
            };
            // Add new list item
            li.appendChild(xout);
            li.setAttribute("class", lclass.concat(bg));
            li.appendChild(document.createTextNode(msg));
            ul.appendChild(li);
        }

        // Remove tasks
        function deleteTask(x) {
            var ul = document.getElementById("list");
            ul.removeChild(x);
        }

        // Create a popup to fill in the task
        $('#edit-modal').on('show.bs.modal', function(e) {
            var $modal = $(this),
                esseyId = e.relatedTarget.id;
            $modal.find('.edit-content').html(esseyId);
        });

        // Submit the info
        $('#tasksubmit').click(function(e) {
            addTask($('#tasktype').html(), $('input[name="title"]').val(), $('input[name="dateadd"]').val());
			console.log($('input[name="title"]').val(""));
			console.log($('input[name="category"]').val(""));
			console.log($('input[name="description"]').val(""));
			console.log($('input[name="dateadd"]').val(""));
			console.log($('input[name="datestart"]').val(""));
			console.log($('input[name="dateend"]').val(""));
			console.log($('input[name="notes"]').val(""));
			
			var obj =
			{			
				title: $('input[name="title"]').val(), //required, short text
				category: $('input[name="category"]').val(),
				description: $('input[name="description"]').val(), 
				dateAdded: $('input[name="dateadd"]').val(),
				dateStart: $('input[name="datestart"]').val(),
				dateEnd: $('input[name="dateend"]').val(), // TODO replace with duration but what data type/ units?
				notes: $('input[name="notes"]').val(),
			}
			
			
        });
    </script>

</body>
</body>

</html>
